<h1>Ask something</h1>

<form method="post" action="/ask">
<div class="form-group">
    <textarea name="question" maxlength="200" id="questionInput" class="form-control" cols="60" rows="10"></textarea>
    <span>Con
        <span id="character">
            200
        </span>/200 ky tu
    </span>
    <button type="submit" class="btn btn-primary">Send</button>
</div>
    
</form>
